.categories {
    display: flex;
    align-items: center;
    justify-content: start;

    &::-webkit-scrollbar {
        width: 2px;
        height: 2px;
        background: white;
    }

    &::-webkit-scrollbar-thumb {
        background: #FE5F1E;
        border-radius: 10px;
    }

    .category {
        padding: 14px 20px;
        background: #F9F9F9;
        border-radius: 30px;
        color: #2C2C2C;
        font-size: 16px;
        font-weight: 700;
        margin-right: 8px;
        cursor: pointer;
        transition: .2s;

        &:hover {
            background: #cac9c9;
        }
    }

    .category.active {
        color: white;
        background: #282828;
    }
}

@media screen and (max-width: 1010px) {
    .categories {
        width: 100%;
        overflow-x: scroll;
        padding-bottom: 10px;
    }
}