$orange: #FE5F1E;

%extra {
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: 800;
}

%bold {
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: 700;
}

%semi {
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: 600;
}

%med {
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: 500;
}

%reg {
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: 400;
}