%skeleton {
    background-image: linear-gradient(90deg, #ddd 0px, #e8e8e8 40px, #ddd 80px);
    background-size: 600px;
    animation: shine 1.6s infinite;
}

.skeleton__pizza {
    padding-top: 10px;
    align-items: center;

    &-img {
        width: 240px;
        height: 240px;
        border-radius: 50%;
        margin-bottom: 20px;
        @extend %skeleton;
    }

    &-title {
        width: 260px;
        height: 20px;
        margin-bottom: 15px;
        border-radius: 15px;
        @extend %skeleton;
    }

    &-params {
        width: 260px;
        height: 100px;
        margin-bottom: 15px;
        border-radius: 15px;
        @extend %skeleton;
    }

    &-order {
        width: 260px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-price {
        width: 85px;
        height: 30px;
        border-radius: 15px;
        @extend %skeleton;
    }

    &-btn {
        width: 120px;
        height: 40px;
        border-radius: 15px;
        @extend %skeleton;
    }

}

@keyframes shine {
    0% {
        background-position: -100px + 68
    }

    40%,
    100% {
        background-position: 140px + 68
    }
}